@media screen and (min-width: 40em){
  .hugelogo {
    font-size:72pt;
  }
  
  .datetext {
    font-size:36pt;
  }
}

@media screen and (max-width: 39.9375em) {
  .hugelogo {
    font-size:36pt;
    text-align:center;
  }
  
  .datetext {
    font-size:20pt;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1em;
  padding: 0px;
  margin: 0px;
}

.tagline {
  text-align:center;
}

.palette-divider {
  width: 100%;
}

.palette-divider div {
  height: 0.7em;
}

.creme-bg {
  background-color: $creme;
}

.creme-text {
  color: $creme;
}

.butterscotch-bg {
  background-color: $butterscotch;
}

.butterscotch-text {
  color: $butterscotch;
}

.coffee-bg {
  background-color: $coffee;
}

.coffee-text {
  color: $coffee;
}

.murk-bg {
  background-color: $murk;
}

.murk-text {
  color: $murk;
}

.hydrant-bg {
  background-color: $hydrant;
}

.hydrant-text {
  color: $hydrant;
}

.maroon-bg {
  background-color: $maroon;
}

.maroon-text {
  color: $maroon;
}

.center {
  text-align:center;
}

.f-right {
  float: right;
}

.f-left {
  float: left;
}

.f-clear {
  clear: both;
}

.profile-pic {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.body-font {
  font-family: $body-font-family;
}

.header-font {
  font-family: $header-font-family;
}

.header-underline {
  border-bottom: 1px solid $butterscotch;
  margin-bottom: 0.5rem;
}

.underline {
  text-decoration: underline;
}

.button {
  font-weight: 700;
  font-size: 19px;
  border-top: 1px solid lighten($button-color, 5%);
  border-left: 1px solid lighten($button-color, 5%);
  border-right: 1px solid lighten($button-color, 5%);
  border-bottom: 1px solid darken($button-color, 10%);
}

.inline {
  display: inline;
}

// Event block
.event {
  padding: 1rem 1rem 1rem 0;
  display: table;
  margin:0 auto;
}

.event-date {
  width: 6rem;
  margin: 0 auto 1rem;
  display: table-cell;
  width: auto;

  .event-month {
    margin: 0;
    background: $coffee;
    padding: 0.5rem 2rem;
    text-align: center;
  }

  .event-day {
    margin: 0;
    border: 1px solid $coffee;
    padding: 0 2rem;
    text-align: center;
    font-size: 2rem;
  }
}

.event-desc {
  padding: 0 0 0 1rem;
  text-align: left;
  display: table-cell;
  vertical-align: top;

  .event-desc-header {
    margin: 0 0 0.5rem 0;
    padding: 0;
  }

  .event-desc-detail {
    margin: 0 0 0.25rem;
    padding: 0;
  }

  .event-desc-time {
    font-weight: bold;
  }

  .rsvp.button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0;
  }
}

// Social Icons

.social-inline-list a {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: $coffee;
  border-radius: 2px;
  font-size: 1.5rem;
  color: $creme;
  text-align: center;
  line-height: 35px;
  margin: 0 3px 0 0;
}

// Footer

.footer {
  background-color: $murk;
  text-align: center;
  font-size: 1.2rem;
  padding: 4rem;
  
  .contact {
    list-style-type: none;
    margin: 0;
    text-align: left;
    color: $creme;
    
    li {
      margin-bottom: 2rem;
      
      p {
        padding-left: 5rem;
      }
    }
    
    i {
      position: absolute;
      background-color: $coffee;
      color: $creme;
      font-size: 2rem;
      border-radius: 50%;
      line-height: 1;
      margin: 0 0 0 -4rem;
      vertical-align: middle;
      padding: .25em .45em;
    }
  }
  
  .copywrite {
    color: $creme;
    font-size: 0.875rem;
    margin: 0 0 1rem 0;
  }
  
  .about {
    color: $creme;
    font-size: 0.875rem;
    margin: 0 0 1rem 0;
  }
  
  .footer-links a {
    list-style: none;
    font-weight: normal;
    color: $creme;
    padding: 3rem 0 2rem;
    margin: 0;
    font-size: 0.875rem;
    
    &::after {
      content: "•";
      padding: 0 0.2rem 0 0.4rem;
    }
    
    &:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem;
    }
  }
  
  @media only screen and (min-width: 40.063em) {
    
    p {
      text-align: left;
    }
    
    .social {
      text-align: left;
      margin: 0;
    }
    
    .contact {
      text-align: left;
      > i {
        margin-right: 1rem;
      }
    }
    
  }
}
   
.logo {
  color: $creme;
  font-size: 1.5rem;
  
  i {
    margin-right: 0.5rem;
  }
}

// Alert Boxes

.alert-box {
  background: #f7f7f7;
  color: #333;
  border: none;
  border-left: 6px solid #008CBA;
  box-shadow: 0 5px 15px 3px rgba(0,0,0,0.5);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  
  &.success {
    background: #f7f7f7;
    color: #333;
  }
  
  &.alert {
    background: #f7f7f7;
    color: #333;
  }
  
  &.warning {
    background: #f7f7f7;
    color: #333;
  }
  
  &.info {
    background: #f7f7f7;
    color: #333;
  }
  
  &.small {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 0.75rem;
    
    .close {
      font-size: 1.5rem;
    }
  }
  
  &.large {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 2rem;
    
    .close {
      font-size: 3rem;
    }
  }
  
  &.onedaykc {
    border-left: 6px solid $hydrant;
    background: $creme;
    color: $maroon;
    transform: rotate(2deg);
  }
  
  .close {
    font-size: 2rem;
    line-height: 1.25rem;
  }
}